{% extends 'base.html.twig' %}

{% block body %}
    <div class="body-form" >
    <div  class="form">

        <h3><i class="fa fa-angle-right"></i> Ajouter Admin </h3>

 {{ include('admin/_form.html.twig')}}
    </div>
    </div>
{% endblock %}

