{% extends 'base.html.twig' %}

{% block title %}Edit Voyage organise{% endblock %}

{% block body %}
<div class="body">  
<div class="tab">
<div class="tab-header" > <h1>Edit Voyageorganise</h1>  <p class="create">   <a href="{{ path('app_voyageorganise_new') }}">Create new</a></p>  </div>


    {{ include('voyageorganise/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_voyageorganise_index') }}">back to list</a>


    {{ include('voyageorganise/_delete_form.html.twig') }}
     </div>
</div>


{% endblock %}
