{% extends 'base.html.twig' %}

{% block title %}New Vol{% endblock %}

{% block body %}
    <div class="body-form" >
    <div  class="form">
    <h1>Create new Vol</h1>
     
     {{ include('vol/_form.html.twig') }}
     <a href="{{ path('app_vol_index') }}">back to list</a>
    </div>
    </div>
{% endblock %}
